header {
  color: orange;
  text-align: center;
}
.submitButton {
  background-color: lightgray;
  font-size: 15px;
  border: 1px solid black;
  border-radius: 3px;
}

td {
  border: 1px solid black;
  width: 400px;
}

table {
  border: 1px solid black;
}
